/* LESS Variables */
/*define fonts */
@font-face {
font-family: roboto-black;
src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-black-webfont.ttf);
}
@font-face {
font-family: roboto-italic;
src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-italic-webfont.ttf);
}
@font-face {
font-family: roboto-thin;
src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-thin-webfont.ttf);
}
@font-face {
font-family: roboto-thinitalic;
src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-thinitalic-webfont.ttf);
}
/* end of define fonts */

/* LESS variable for site styles */
/* LESS variables for fonts */
@font-family:roboto-black, helvetica, sans-serif;
@font-base-size:14px;
/* LESS Variables for text */
@text-shadow: 2px 2px 2px;

/* LESS variables for images */
@img-size-wsml: 150px;
@img-size-hsml: 150px;
@font-base-size: 14px;
/* colors */
@primary-color: #E70909;
@accent-color: #422C2C;
@foreground-color: #F8F3F3;
@background-color: #CBC6C6;
@primary-color: #422C2C;
@font-color: black;
@text-shadow-color: #FF3619;
/*LESS Variables for text  */
@text-shadow: 2px 2px 2px;
/* Positioning Variables */
@positionR: relative;
@positionA: absolute;
@positionF: fixed;

/*end of variable declaration */
/*This defines Semantic Elements as blocks for older browsers  */
article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

body {
  background-color: @background-color;
}
/*header*/


div .headerlogo {
  height: @img-size-hsml;
  width: @img-size-wsml;
  margin: 0px auto;
  padding: 0px auto;
  top: 0px;
  left: 0px;
  position: @positionR;
}

  #headername {
  font-size: @font-base-size + 65px;
  font-family: @font-family;
  text-shadow: @text-shadow-color @text-shadow;
  color: @primary-color;
  display: inline;
  padding: 15px;
  margin: 0 2.5em;
  font-weight: bold;
  //position: @positionA;
}

input.searchbox {
  float: right;
  //position: @positionR;
  top: 30px;
  right: 10px;
  z-index: 15000;
}
/* Navigation bar styles start */
nav {
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-left: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: block;
}

nav ul li > a {
  text-decoration: none;
}

nav ul li > a:hover {
  text-decoration: underline;
}

.navbar-background {
  background-color: #142952;
}

.navlink {
  height: 35px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  color: white;
  text-decoration: none;
}

.navlink.active {
  color: lightgreen;
  background-color: white;
}
/* Navigation bar styles end */
/* Navigation bar styles end */
/* content */
.twocol {
  column-count: 2;
}

.threecol {
  column-count: 3;
  column-gap: 10px;
}
