<table>
    <thead>
        <th>Album</th>
        <th>Artist</th>
    </thead>
    <tbody>
      {{#each results}}
        <tr>
            <td>{{Album}}</td>
            <td>{{Artist}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
